body{
    background-color: #F5F8FF;
}
.header-content{
    width: 1440px;
    height: 698px;
    background-image: url(../Assets/Hero-bg.png);
}
.nav-container{
    width: 1140px;
    height: 151px;
    
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;


}
.primary-btn{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: green;
    color: white;
    margin-top: 30px;

}
/* shared btn */
.shared-btn{
    width: 174px;
    height: 48px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #4E47FF;
    
}
.logo{
    color: orange;
    font-size: 34px;
}
.banner-section{
    width: 905px;
    height: 237px;
    margin: 0 auto;
    text-align: center;
}
.banner-title{
    font-weight: bold;
    font-size: 65px;
}
.action-section-container{
    display: flex;
    width: 1140px;
    height: 318px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 116px;
    
}
.left-side-action{ 
    width: 517px;
    height: 203px;
    margin-top: 67px;
}
.action-image{
    width: 403px;
    height: 328px;
    border-radius: 20px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
}
.action-description{
    font-size: 15px;
    

}
.pruductive-user-section{
    width: 1140px;
    height: 306px;
    background-color: #E5E7FF;
    margin: 0 auto;
    margin-top: 116px;
    border-radius: 20px;

}
.user-section-title{
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    
}
.contend-title{
    font-weight: bold;
    font-size: 60px;
    color: #4E47FF;
}
.productive-user-section-contend{
    display: flex;
    justify-content: center;
    gap: 158px;
    padding: 10px;
    
}
.contend {
    width: 180px;
    height: 121px;
    

    
}
p{
    color: #515264;
}
.icon-img{
    width: 116px;
    height: 20px;
    
    
}
.user-container{
    width: 1140px;
    height: 342px;
    margin: 0 auto;
    margin-top: 137px;
    display: flex;
    
    gap: 20px;
   
    

}
.primary-title{
    text-align: center;
}
.user-contend{
    width: 1140px;
    height: 243px;
    display: flex;
    gap: 20px;
    justify-items: center;
    margin-left: 50px;


}
.user{
    width: 300px;
    height: 243px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    

}
.user-data{
    width: 318px;
    height: 49px;
    display: flex;
    
}
.user-data-img{ 
    margin-top: 4px;
}


.user-name{
    
    margin-left: 12px;
}
